*{
	margin: 0;
	padding: 0;
	
}
#div_all{
	width: 965px;
	/* height: 800px; */
	margin-top: 30px;
	margin-left: 30px;
	
}
#div_head{
	width:965px;
	height: 60px;
}
.div_head_list{
	width: 100px;
	height: 40px;
	background-color: #282828;
	border-radius: 8px;
	overflow: hidden;
	float: left;
	line-height: 40px;
	margin-left: 2px;
}
.div_head_list button{
	width: 100px;
	height: 40px;
}
#div_head_right{
	width: 400px;
	height: 60px;
	margin-left: 500px;

}
/*#div_head_right input{
	width: 300px;
	height: 35px;
	border-radius:5px ;
	
}*/
#search_div{
	float: right;
	
	margin-right: 50px;
	width: 32px;
	height: 32px;
	
	
}
#search_div img{
	opacity: 1;
}
#search_div:hover img{
	opacity: 0;
}
#search_div:hover{
	background-color: white;
}
#div_middle{
	width: 965px;
	/*height: 500PX;*/
	border: 1px solid #F0F0F0;
}
.div_middle_have{
	width: 229px;
	height:380px;
	border: 1px solid lightgray;
	margin-top:10px ;
	float: left;
	font-family: "微软雅黑";
	margin-left:10px;
}
.middle_head{
	width: 230px;
	height:30px;
	background-color: #F0F0F0;
	line-height: 30px;
	/*margin-left: 10px;*/
	margin-top: 15px;
	border-radius: 3px;
}

.middle_head p{
	margin-left: 20px;
}
.pro_name{
	margin-top: 5px;
	margin-left: 10px;
}
.pro_pno{
	margin-top: 5px;
	margin-left: 10px;
}
.pro_name p{
	/*float: left;*/
	color: darkgray;
}
.pro_pno p{
	/*float: left;*/
	color: darkgray;
}
.middle_middle{
	width: 230px;
	height:30px;
	background-color: #F0F0F0;
	line-height: 30px;
	/*margin-left: 10px;*/
	margin-top: 10px;
	border-radius: 5px;
}
.middle_middle p{
	margin-left: 20px;
}
.middle_bottom_p{
	margin-left:10px;
	float: left;
	margin-top: 7px
}
.word01{
	color: red;
	line-height:36px;
}
.div_middle_have a{
	text-decoration: none;
	color:#282828;
}
.div_middle_have a:hover{
	color:#DF4D4E;
}
.middle_a{
	width: 150px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #282828;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 14px;
}
#search{
	width: 60px;
	height: 35px;
	margin-left: 20px;
}
#div_head_input{
	width: 300px;
	height: 35px;
}
